<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6609372c7ebb46428da219f1e1bc62cc {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6609372c7ebb46428da219f1e1bc62cc" ></div>
        
</body>
<script>    
    
            var map_6609372c7ebb46428da219f1e1bc62cc = L.map(
                "map_6609372c7ebb46428da219f1e1bc62cc",
                {
                    center: [1.399746226969539, 103.90667717372754],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_33dca94a05d24906bedf3f426a610b13 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_1747d2883ded4a73a37d8dfc6db9418e = L.polyline(
                [[1.4014441, 103.8950046], [1.4016258, 103.8949884], [1.4017006, 103.8950081], [1.4017467, 103.8950713], [1.401782, 103.8951958], [1.4018266, 103.8953323]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_aff9a3d34e744149b37931e956f6d250 = L.polyline(
                [[1.4018266, 103.8953323], [1.4018672, 103.895412], [1.4018947, 103.8954631]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_2b79859af0c24d34a8460d097a85685a = L.polyline(
                [[1.4018947, 103.8954631], [1.4018611, 103.8954812], [1.4018363, 103.8955103], [1.4018238, 103.8955465], [1.4018253, 103.8955847], [1.4018406, 103.8956197], [1.4018676, 103.8956468], [1.4019026, 103.8956622], [1.4019408, 103.8956638], [1.4019769, 103.8956514]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_5798d4ea68cb4cf09b2e67eb600f35ec = L.polyline(
                [[1.4019769, 103.8956514], [1.4020337, 103.8957296], [1.4020907, 103.8958051]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_ec7da0f5b42b4328978c68c8ef208f67 = L.polyline(
                [[1.4020907, 103.8958051], [1.4019613, 103.895861], [1.4019251, 103.8959093], [1.4018997, 103.8960394], [1.4018762, 103.8961869], [1.4018781, 103.8962177], [1.4018916, 103.8962566], [1.4019304, 103.8962834], [1.4019929, 103.8962929], [1.4024514, 103.8963439], [1.4024922, 103.8963465], [1.4025257, 103.8963304], [1.4025385, 103.8962969], [1.402556, 103.8961641], [1.4025902, 103.895908], [1.4026002, 103.8958778], [1.402627, 103.8958564], [1.4026686, 103.895853], [1.4028764, 103.8958745]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_bc2caf3a09c346609892e571099b1a29 = L.polyline(
                [[1.4028764, 103.8958745], [1.4030185, 103.8958918]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_17315d92405b4770a317f345f39c93fd = L.polyline(
                [[1.4030185, 103.8958918], [1.4032464, 103.895916], [1.4034248, 103.8959348]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_5e51029512104f4ea57e95d5f47a8b3a = L.polyline(
                [[1.4034248, 103.8959348], [1.403343, 103.8964105]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_340abc1a3a3d4bd69ad14b365c9aea90 = L.polyline(
                [[1.403343, 103.8964105], [1.4032948, 103.8966903]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_8383908079fc44e98a91f2716a3e8f8e = L.polyline(
                [[1.4032948, 103.8966903], [1.4032637, 103.8968612]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_f4063438999a42c59d5d5c409278d66c = L.polyline(
                [[1.4032637, 103.8968612], [1.4031587, 103.8973564]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_2a4b155ffda845df953fda5b92c4e5b1 = L.polyline(
                [[1.4031587, 103.8973564], [1.4030329, 103.89775], [1.4028912, 103.8981883]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_5e2395094b8c4f8a99f6b7933e3a28bb = L.polyline(
                [[1.4028912, 103.8981883], [1.4026042, 103.8990886]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_4c2fd12cef6c49beae9dc022d9909005 = L.polyline(
                [[1.4026042, 103.8990886], [1.4025052, 103.8993799]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_58a58aad78ba4bc9a0b89568286e5425 = L.polyline(
                [[1.4025052, 103.8993799], [1.4024602, 103.8994881]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_53e75d6e010d4cd98659b9c0d70b84f7 = L.polyline(
                [[1.4024602, 103.8994881], [1.4023287, 103.8998077], [1.4023008, 103.8998756]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_3938e961f0aa44579e553a2738274c06 = L.polyline(
                [[1.4023008, 103.8998756], [1.4022427, 103.900062], [1.4018883, 103.9009298], [1.4015174, 103.9017357]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_4c9390d8b3ee41e09e57c42597b48333 = L.polyline(
                [[1.4015174, 103.9017357], [1.4014232, 103.9019601]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_6d807d4a1cda4767abbb3824ffbdc9c8 = L.polyline(
                [[1.4014232, 103.9019601], [1.4013861, 103.9020482]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_6d8922ce69434ef0a30a5b6bc8f5d5a7 = L.polyline(
                [[1.4013861, 103.9020482], [1.4012639, 103.9022935]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_d91e49c8d1694ab99ae9a0f527107925 = L.polyline(
                [[1.4012639, 103.9022935], [1.4011053, 103.9026296], [1.4009391, 103.9029622], [1.4007943, 103.9032502], [1.4006683, 103.9035036]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_7a6bcfe497a243af87368e03a811e4f6 = L.polyline(
                [[1.4006683, 103.9035036], [1.4005047, 103.9038151], [1.4000692, 103.9046394]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_1dbc33e07f0e4c8fa2481e35c7e1e08a = L.polyline(
                [[1.4000692, 103.9046394], [1.39991, 103.9049553]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_d79db921c95b4a66ab5509ddd167d96c = L.polyline(
                [[1.39991, 103.9049553], [1.3998178, 103.9050898]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_5ba9b3b826044fc0870c200b7d235b15 = L.polyline(
                [[1.3998178, 103.9050898], [1.3996064, 103.9053896]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_3684bc00ca39467292556618777481df = L.polyline(
                [[1.3996064, 103.9053896], [1.3994, 103.9056954], [1.3992605, 103.9058912], [1.3991345, 103.9060467], [1.3988214, 103.9064504]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_916884ff56544ad8aa510eed9dd3bde0 = L.polyline(
                [[1.3988214, 103.9064504], [1.3984727, 103.9068999]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_cf8f53b5849f45678c7af632c24f4e5a = L.polyline(
                [[1.3984727, 103.9068999], [1.3982345, 103.9071445]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_c1768e3b10f84c67981c731362da3975 = L.polyline(
                [[1.3982345, 103.9071445], [1.398188, 103.9072047]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_effcd69aec144aaeb7f3130ee1f20c68 = L.polyline(
                [[1.398188, 103.9072047], [1.3983383, 103.9072954]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_f25dfff6d74b4c36a46957dbf2620588 = L.polyline(
                [[1.3983383, 103.9072954], [1.398564, 103.907458]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_ff958132aacf46e29bfb7cec0adebc1b = L.polyline(
                [[1.398564, 103.907458], [1.3989754, 103.9077539], [1.3993423, 103.9079908]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_64eb9d872426422e8f5ca19c843a89fe = L.polyline(
                [[1.3993423, 103.9079908], [1.399929, 103.9084169]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_0a0a41f6974348a6b7226877216ed3a5 = L.polyline(
                [[1.399929, 103.9084169], [1.4005812, 103.9088758]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_0775ec6279334f1e93701d94d0a2e1fe = L.polyline(
                [[1.4005812, 103.9088758], [1.4006568, 103.9089811], [1.4006828, 103.9090753], [1.4006811, 103.9091657], [1.4006592, 103.9092798]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_e5b2e10aae8c44d988a9807b2b82ddb8 = L.polyline(
                [[1.4006592, 103.9092798], [1.4003706, 103.9096959], [1.4002906, 103.9098166]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_4b9d3705e63a468c8979e8c2b7ed1309 = L.polyline(
                [[1.4002906, 103.9098166], [1.3999723, 103.9102403], [1.3997166, 103.9105688]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_42d5b94ae11147c9897afa8c3395b6d9 = L.polyline(
                [[1.3997166, 103.9105688], [1.3993851, 103.9110447]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_c34570c767a3475db4b9af1bdb03dda5 = L.polyline(
                [[1.3993851, 103.9110447], [1.3982546, 103.912612]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_e186c8e27b2f450b98b1c32ba56a5934 = L.polyline(
                [[1.3982546, 103.912612], [1.3980923, 103.9128445]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_94978487191a4d2da45646ae44091b66 = L.polyline(
                [[1.3980923, 103.9128445], [1.3980309, 103.9129379]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_bc9eb9516bfb4f469bfd99f5c91087bc = L.polyline(
                [[1.3980309, 103.9129379], [1.3978418, 103.9131969]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_c5126bb0a35849f0a217252214bff8fa = L.polyline(
                [[1.3978418, 103.9131969], [1.3976194, 103.9135175], [1.3975301, 103.9136439], [1.3969054, 103.9145279]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_8d4cd5a79ac64032b37f3d4bc9b53bcd = L.polyline(
                [[1.3969054, 103.9145279], [1.3959572, 103.915859]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_1728de96f8a342978bcfdd8ead8a75b8 = L.polyline(
                [[1.3959572, 103.915859], [1.3955405, 103.9164202]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_d10ed7bc84b1410dbe4f26a8ac2204bc = L.polyline(
                [[1.3955405, 103.9164202], [1.3953869, 103.9166314]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_3d43ccf3e9ae46a797f82053adbb5ff8 = L.polyline(
                [[1.3953869, 103.9166314], [1.3952698, 103.9167883]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_93476731baeb4ae487185b0dffea9719 = L.polyline(
                [[1.3952698, 103.9167883], [1.3953907, 103.9168727]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_d4b4d94fd5914a359ffbcf3f261e7875 = L.polyline(
                [[1.3953907, 103.9168727], [1.3956857, 103.917078]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_b043b46869814f11a6e664e5a6ca63e3 = L.polyline(
                [[1.3956857, 103.917078], [1.3958172, 103.9171832], [1.3960924, 103.9173791], [1.3962846, 103.9175141]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_3ab4315a1ab84eeebf5d32a1b3a5c822 = L.polyline(
                [[1.3962846, 103.9175141], [1.396139, 103.9177085]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            var poly_line_60990e07af7b4f45aa74bce0de7a4dfe = L.polyline(
                [[1.396139, 103.9177085], [1.3972759, 103.9184864], [1.3972976, 103.9185324], [1.3972789, 103.9185874], [1.3969937, 103.919]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6609372c7ebb46428da219f1e1bc62cc);
        
    
            map_6609372c7ebb46428da219f1e1bc62cc.fitBounds(
                [[1.3952698, 103.8949884], [1.4034248, 103.919]],
                {}
            );
        
</script>