<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cec42a610f4c4b8889fec1f4c7388c1d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_cec42a610f4c4b8889fec1f4c7388c1d" ></div>
        
</body>
<script>    
    
            var map_cec42a610f4c4b8889fec1f4c7388c1d = L.map(
                "map_cec42a610f4c4b8889fec1f4c7388c1d",
                {
                    center: [1.399746226969539, 103.90667717372754],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_82eb9cb3152f4d989e7518f56a45c302 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_9efd3f8e4a4b48f3847412579080746f = L.polyline(
                [[1.4014441, 103.8950046], [1.4016258, 103.8949884], [1.4017006, 103.8950081], [1.4017467, 103.8950713], [1.401782, 103.8951958], [1.4018266, 103.8953323]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_fde63fd3277e408fad5561b72fd6d7f1 = L.polyline(
                [[1.4018266, 103.8953323], [1.4018672, 103.895412], [1.4018947, 103.8954631]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_8425914a59ac41e3aefc07fb0825c0c7 = L.polyline(
                [[1.4018947, 103.8954631], [1.4018611, 103.8954812], [1.4018363, 103.8955103], [1.4018238, 103.8955465], [1.4018253, 103.8955847], [1.4018406, 103.8956197], [1.4018676, 103.8956468], [1.4019026, 103.8956622], [1.4019408, 103.8956638], [1.4019769, 103.8956514]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_7dbbd30ffbe34a5eb4419035ccacff00 = L.polyline(
                [[1.4019769, 103.8956514], [1.4020337, 103.8957296], [1.4020907, 103.8958051]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_1a2807ea02f34ffab6400a409985eb66 = L.polyline(
                [[1.4020907, 103.8958051], [1.4019613, 103.895861], [1.4019251, 103.8959093], [1.4018997, 103.8960394], [1.4018762, 103.8961869], [1.4018781, 103.8962177], [1.4018916, 103.8962566], [1.4019304, 103.8962834], [1.4019929, 103.8962929], [1.4024514, 103.8963439], [1.4024922, 103.8963465], [1.4025257, 103.8963304], [1.4025385, 103.8962969], [1.402556, 103.8961641], [1.4025902, 103.895908], [1.4026002, 103.8958778], [1.402627, 103.8958564], [1.4026686, 103.895853], [1.4028764, 103.8958745]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_d606274f74b94963b58c0a1c1c284285 = L.polyline(
                [[1.4028764, 103.8958745], [1.4030185, 103.8958918]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_3a08e149e6fc4593a46744795852e9b9 = L.polyline(
                [[1.4030185, 103.8958918], [1.4032464, 103.895916], [1.4034248, 103.8959348]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_7a33b12daef3452fa020bd58144569dd = L.polyline(
                [[1.4034248, 103.8959348], [1.403343, 103.8964105]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_836e225c8bc44a1eb40769648de09ca1 = L.polyline(
                [[1.403343, 103.8964105], [1.4032948, 103.8966903]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_e3b28e252ff94b8a8714db73bb0027bc = L.polyline(
                [[1.4032948, 103.8966903], [1.4032637, 103.8968612]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_97c295653d344915b131f7d9ad05c35b = L.polyline(
                [[1.4032637, 103.8968612], [1.4031587, 103.8973564]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_b2b528fbf5e6415a867c35265a236006 = L.polyline(
                [[1.4031587, 103.8973564], [1.4030329, 103.89775], [1.4028912, 103.8981883]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_42d832507df4478d8471209b91105589 = L.polyline(
                [[1.4028912, 103.8981883], [1.4026042, 103.8990886]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_d27b0aabdb2a4536be69c8161075ddf4 = L.polyline(
                [[1.4026042, 103.8990886], [1.4025052, 103.8993799]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_e12e6730077945d3b420b7810280be55 = L.polyline(
                [[1.4025052, 103.8993799], [1.4024602, 103.8994881]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_552c8b9c444c46d99e0015a83e6f0c69 = L.polyline(
                [[1.4024602, 103.8994881], [1.4023287, 103.8998077], [1.4023008, 103.8998756]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_19c8cae329e7489c9eb6fc6ae6a58b45 = L.polyline(
                [[1.4023008, 103.8998756], [1.4022427, 103.900062], [1.4018883, 103.9009298], [1.4015174, 103.9017357]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_7a1a5634aa61428c84ef2bd26f1653ff = L.polyline(
                [[1.4015174, 103.9017357], [1.4014232, 103.9019601]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_cc13ea210df3459aaf865f4fc9e4d7af = L.polyline(
                [[1.4014232, 103.9019601], [1.4013861, 103.9020482]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_65a819e6e70049e4a8ccd31f107665a2 = L.polyline(
                [[1.4013861, 103.9020482], [1.4012639, 103.9022935]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_221997ea4fc841b69fcfeeb1f21d011b = L.polyline(
                [[1.4012639, 103.9022935], [1.4011053, 103.9026296], [1.4009391, 103.9029622], [1.4007943, 103.9032502], [1.4006683, 103.9035036]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_efc74c5808664e1aa56dddca8d495305 = L.polyline(
                [[1.4006683, 103.9035036], [1.4005047, 103.9038151], [1.4000692, 103.9046394]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_3f0a36cc9eeb41d79b5effd68f27e707 = L.polyline(
                [[1.4000692, 103.9046394], [1.39991, 103.9049553]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_df881663a6564522a77b7fe7ba6f5ba8 = L.polyline(
                [[1.39991, 103.9049553], [1.3998178, 103.9050898]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_f55ff91c6e98423ea0e8f8ca6b66cb6d = L.polyline(
                [[1.3998178, 103.9050898], [1.3996064, 103.9053896]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_6c871e747b4a4c8dbe05be64f0849012 = L.polyline(
                [[1.3996064, 103.9053896], [1.3994, 103.9056954], [1.3992605, 103.9058912], [1.3991345, 103.9060467], [1.3988214, 103.9064504]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_eda35a4bee4743c6a8bf4056eccbc01a = L.polyline(
                [[1.3988214, 103.9064504], [1.3984727, 103.9068999]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_9eb0c9c7a7f2430da9eafcff46ded033 = L.polyline(
                [[1.3984727, 103.9068999], [1.3982345, 103.9071445]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_f0cef7bf659a438cab6ed39d9ffba1b7 = L.polyline(
                [[1.3982345, 103.9071445], [1.398188, 103.9072047]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_3a692210d26041eaa400a1dedc47a6e0 = L.polyline(
                [[1.398188, 103.9072047], [1.3983383, 103.9072954]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_0a7ee25dd93d4d0cb6fb9b95481387b8 = L.polyline(
                [[1.3983383, 103.9072954], [1.398564, 103.907458]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_f9dc7f1915c24c9d93cf423717a3287a = L.polyline(
                [[1.398564, 103.907458], [1.3989754, 103.9077539], [1.3993423, 103.9079908]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_1c5503a3966644e388742755bdde0baf = L.polyline(
                [[1.3993423, 103.9079908], [1.399929, 103.9084169]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_d9e246734c9c4304b437f4512a00600f = L.polyline(
                [[1.399929, 103.9084169], [1.4005812, 103.9088758]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_b0d4451466f64056867ca36eda5fa122 = L.polyline(
                [[1.4005812, 103.9088758], [1.4006568, 103.9089811], [1.4006828, 103.9090753], [1.4006811, 103.9091657], [1.4006592, 103.9092798]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_a363750d1d81473496c987e3c976fbd6 = L.polyline(
                [[1.4006592, 103.9092798], [1.4003706, 103.9096959], [1.4002906, 103.9098166]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_55993828ef604402ae3b93ad6b400fa8 = L.polyline(
                [[1.4002906, 103.9098166], [1.3999723, 103.9102403], [1.3997166, 103.9105688]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_c7cfad0df3c64038aa41837f1cdf8cfd = L.polyline(
                [[1.3997166, 103.9105688], [1.3993851, 103.9110447]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_7558c6d4c98e44718eba64eeb19523d8 = L.polyline(
                [[1.3993851, 103.9110447], [1.3982546, 103.912612]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_4802afb6eb4f451cb2a05b6b2ca35bc9 = L.polyline(
                [[1.3982546, 103.912612], [1.3980923, 103.9128445]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_38ac9ff2b62a4cbea9618a7e9890c5ac = L.polyline(
                [[1.3980923, 103.9128445], [1.3980309, 103.9129379]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_7134ac1d3e934ed382ab614284f48e32 = L.polyline(
                [[1.3980309, 103.9129379], [1.3978418, 103.9131969]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_d4cb9c71c8184109a412923e73478307 = L.polyline(
                [[1.3978418, 103.9131969], [1.3976194, 103.9135175], [1.3975301, 103.9136439], [1.3969054, 103.9145279]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_1e37f2efb1bb4ddbbb0ef79a254b1547 = L.polyline(
                [[1.3969054, 103.9145279], [1.3959572, 103.915859]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_8ebe4dab6e794758a25e9cd3a9dc3218 = L.polyline(
                [[1.3959572, 103.915859], [1.3955405, 103.9164202]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_0c7eea4ea8c8439c8b28b337fbab9788 = L.polyline(
                [[1.3955405, 103.9164202], [1.3953869, 103.9166314]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_c5c01c4c5da74ec4a882e990b38c42cf = L.polyline(
                [[1.3953869, 103.9166314], [1.3952698, 103.9167883]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_b5b4c139220b472988d1a93647b73dc6 = L.polyline(
                [[1.3952698, 103.9167883], [1.3953907, 103.9168727]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_e77c9a365df4484d84a1dbc84d4ee387 = L.polyline(
                [[1.3953907, 103.9168727], [1.3956857, 103.917078]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_9d0eb58cd364456ba448da8ed6ead39b = L.polyline(
                [[1.3956857, 103.917078], [1.3958172, 103.9171832], [1.3960924, 103.9173791], [1.3962846, 103.9175141]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_3f8eb7bd1c1f4d399cea6f5479fc0327 = L.polyline(
                [[1.3962846, 103.9175141], [1.396139, 103.9177085]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            var poly_line_c58e2e07b48b49259e30fd7ed4dd17dd = L.polyline(
                [[1.396139, 103.9177085], [1.3972759, 103.9184864], [1.3972976, 103.9185324], [1.3972789, 103.9185874], [1.3969937, 103.919]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cec42a610f4c4b8889fec1f4c7388c1d);
        
    
            map_cec42a610f4c4b8889fec1f4c7388c1d.fitBounds(
                [[1.3952698, 103.8949884], [1.4034248, 103.919]],
                {}
            );
        
</script>