<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_14d62a3b56e1408cb7fd965b0be7207e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_14d62a3b56e1408cb7fd965b0be7207e" ></div>
        
</body>
<script>    
    
            var map_14d62a3b56e1408cb7fd965b0be7207e = L.map(
                "map_14d62a3b56e1408cb7fd965b0be7207e",
                {
                    center: [1.4039879472108132, 103.90580218833601],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_fa20fa4522a24a129518a442b91ca48a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_5694035588af494e9ac5e147a83b98e4 = L.polyline(
                [[1.4055792, 103.8972466], [1.4050049, 103.8970791]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_d3737ea3eb6041bca4d0ac7a29f5ab90 = L.polyline(
                [[1.4050049, 103.8970791], [1.4041883, 103.8968498]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_5dca811417044a45a11e19f89203ea00 = L.polyline(
                [[1.4041883, 103.8968498], [1.4039861, 103.8968137]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_3d41111a802b4647888bdd2db52900d2 = L.polyline(
                [[1.4039861, 103.8968137], [1.4037466, 103.8968382]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_b5ba99510eab4205bc662c5992e8fd05 = L.polyline(
                [[1.4037466, 103.8968382], [1.4035715, 103.8969052]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_3197bc5ef1f743a6adc4303f9d4e74f6 = L.polyline(
                [[1.4035715, 103.8969052], [1.4034221, 103.8970018]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_b1f93fed1a4645898c549baa94c4b4dc = L.polyline(
                [[1.4034221, 103.8970018], [1.4032959, 103.8971268]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_be2d60606f7f42e78d845b101eb8c1b2 = L.polyline(
                [[1.4032959, 103.8971268], [1.4031787, 103.8973419]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_9e5ae8241f9d4572872942e31e34939e = L.polyline(
                [[1.4031787, 103.8973419], [1.4030588, 103.8976765]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_3bda4491ed514c5bb892874e1739ff65 = L.polyline(
                [[1.4030588, 103.8976765], [1.4027479, 103.8985451]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_e25191b6da9b4ff29e6652b371cd02fd = L.polyline(
                [[1.4027479, 103.8985451], [1.4023594, 103.8996183]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_9cb06e2e92fb49e299056774c1c0ed47 = L.polyline(
                [[1.4023594, 103.8996183], [1.4022493, 103.8999376]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_314ec069dd66452e9205b9c6cca86e46 = L.polyline(
                [[1.4022493, 103.8999376], [1.4021705, 103.9002053]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_04e39d96098a4019a6ac4f0370028e9b = L.polyline(
                [[1.4021705, 103.9002053], [1.402178, 103.9003767]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_4bb4453229a3414a8bf4153dfd65b6b4 = L.polyline(
                [[1.402178, 103.9003767], [1.402181, 103.9004468]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_994721a528c84c798d0b7f2f5c8822b6 = L.polyline(
                [[1.402181, 103.9004468], [1.4022767, 103.9006861]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_bec34abbd53742ebb732a6c54bbdb078 = L.polyline(
                [[1.4022767, 103.9006861], [1.4023933, 103.9008396]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_ee970f992f794496893a9e9a8e95c694 = L.polyline(
                [[1.4023933, 103.9008396], [1.4026665, 103.901094]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_03f2118b0fc14163829fd40ef02c955a = L.polyline(
                [[1.4026665, 103.901094], [1.4036483, 103.9016317]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_1e6e5bf0746f4e8491fd3c47a7245e62 = L.polyline(
                [[1.4036483, 103.9016317], [1.4039372, 103.9017148]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_283eb54d93ed4216aef19d5b4b2c534d = L.polyline(
                [[1.4039372, 103.9017148], [1.4043864, 103.9019645]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_3b9b6555ad934c74b67a80686b375f30 = L.polyline(
                [[1.4043864, 103.9019645], [1.4048461, 103.902302]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_46964773310a421cbe3f1ab06a596df5 = L.polyline(
                [[1.4048461, 103.902302], [1.4051499, 103.9024702]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_f89546daabbe48ffb373c79d256f81ee = L.polyline(
                [[1.4051499, 103.9024702], [1.4055467, 103.9026898]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_970f26b0d3c94f7c8717be4f15bedc68 = L.polyline(
                [[1.4055467, 103.9026898], [1.405906, 103.9027954]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_b194610ec68341bca147c89ebb4a48fe = L.polyline(
                [[1.405906, 103.9027954], [1.4070234, 103.9034045]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_f0901d5dda5f4e9c9f086031b3a44a80 = L.polyline(
                [[1.4070234, 103.9034045], [1.4072128, 103.9035684]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_bf0fc52d0df14e4282ca233ef9cd4f9d = L.polyline(
                [[1.4072128, 103.9035684], [1.4074467, 103.9038372]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_706bd9b4fb124f1b851b5eb7f23c87da = L.polyline(
                [[1.4074467, 103.9038372], [1.4074863, 103.9039291]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_b5c73ee12b7a4096a631a3ae9ff02951 = L.polyline(
                [[1.4074863, 103.9039291], [1.4075678, 103.904118]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_ea39c7150e4643c8bbe24ecf2e5ce3da = L.polyline(
                [[1.4075678, 103.904118], [1.4076142, 103.9044066]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_5aa55635f9174419b25e679ad525feb6 = L.polyline(
                [[1.4076142, 103.9044066], [1.4075884, 103.9046591]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_30fb13d13cb34d31a88cdcf4b6d462f7 = L.polyline(
                [[1.4075884, 103.9046591], [1.4075086, 103.9049399]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_1bb967510f774c1f9c875a9280163a3d = L.polyline(
                [[1.4075086, 103.9049399], [1.4069728, 103.9060579]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_032d3d1100174635b8ba76b510c0772a = L.polyline(
                [[1.4069728, 103.9060579], [1.4068067, 103.9063761]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_4535d94491024da8b8ff58f76fc8130e = L.polyline(
                [[1.4068067, 103.9063761], [1.406034, 103.9074971]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_74f4f0ea9a09447fb750261d1984e16b = L.polyline(
                [[1.406034, 103.9074971], [1.4055386, 103.9081329]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_5b733ba81ea54a4cb796fa89eed7d1c1 = L.polyline(
                [[1.4055386, 103.9081329], [1.4053673, 103.9083654]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_a7063fbbf3844a5b95c5657b07785dfc = L.polyline(
                [[1.4053673, 103.9083654], [1.4050742, 103.9087633]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_e174940208ba4484a647696f5f33da8e = L.polyline(
                [[1.4050742, 103.9087633], [1.4046635, 103.9093817]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_2dfc33270e0c4db59eb3489f4250a176 = L.polyline(
                [[1.4046635, 103.9093817], [1.4034655, 103.911066]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_c38a54084b784c19ab31c5bcda5329e7 = L.polyline(
                [[1.4034655, 103.911066], [1.4031732, 103.9114899]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_1de740fba1b8490c920e2ca2c2181171 = L.polyline(
                [[1.4031732, 103.9114899], [1.4027366, 103.9120296]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_3147fa549398452099b567ba6284981f = L.polyline(
                [[1.4027366, 103.9120296], [1.4021767, 103.9128156]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_868bd4cdc93e464ab93ded106cda6ddc = L.polyline(
                [[1.4021767, 103.9128156], [1.4017105, 103.9134932]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_6e43774dd4084a2498c86b3d0ef695f8 = L.polyline(
                [[1.4017105, 103.9134932], [1.4004905, 103.9151945]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_c22fd419cea74869bc13a5bf8126ef34 = L.polyline(
                [[1.4004905, 103.9151945], [1.3999709, 103.9158693]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            var poly_line_47e711bdb1484bdb859eec0809f48e81 = L.polyline(
                [[1.3999709, 103.9158693], [1.3994815, 103.9165527]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_14d62a3b56e1408cb7fd965b0be7207e);
        
    
            map_14d62a3b56e1408cb7fd965b0be7207e.fitBounds(
                [[1.3994815, 103.8968137], [1.4076142, 103.9165527]],
                {}
            );
        
</script>