<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fcdd1af8d95c44d7b1b5fdb21ef61f83 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_fcdd1af8d95c44d7b1b5fdb21ef61f83" ></div>
        
</body>
<script>    
    
            var map_fcdd1af8d95c44d7b1b5fdb21ef61f83 = L.map(
                "map_fcdd1af8d95c44d7b1b5fdb21ef61f83",
                {
                    center: [1.399746226969539, 103.90667717372754],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a47ca26a67af4ed8b80a3b325821e592 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_47a5adf206a0478e88a159751d0b5ad5 = L.polyline(
                [[1.4014441, 103.8950046], [1.4016258, 103.8949884], [1.4017006, 103.8950081], [1.4017467, 103.8950713], [1.401782, 103.8951958], [1.4018266, 103.8953323]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_205c16ac12f746eea44684f5ec75fbe7 = L.polyline(
                [[1.4018266, 103.8953323], [1.4018672, 103.895412], [1.4018947, 103.8954631]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_1b8d45a565104d24b4951245d1ffdec6 = L.polyline(
                [[1.4018947, 103.8954631], [1.4018611, 103.8954812], [1.4018363, 103.8955103], [1.4018238, 103.8955465], [1.4018253, 103.8955847], [1.4018406, 103.8956197], [1.4018676, 103.8956468], [1.4019026, 103.8956622], [1.4019408, 103.8956638], [1.4019769, 103.8956514]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_70cc0ea53d804b518d18c7ca5af8c174 = L.polyline(
                [[1.4019769, 103.8956514], [1.4020337, 103.8957296], [1.4020907, 103.8958051]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_1629255447324ebeb60170b210ca8196 = L.polyline(
                [[1.4020907, 103.8958051], [1.4019613, 103.895861], [1.4019251, 103.8959093], [1.4018997, 103.8960394], [1.4018762, 103.8961869], [1.4018781, 103.8962177], [1.4018916, 103.8962566], [1.4019304, 103.8962834], [1.4019929, 103.8962929], [1.4024514, 103.8963439], [1.4024922, 103.8963465], [1.4025257, 103.8963304], [1.4025385, 103.8962969], [1.402556, 103.8961641], [1.4025902, 103.895908], [1.4026002, 103.8958778], [1.402627, 103.8958564], [1.4026686, 103.895853], [1.4028764, 103.8958745]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_49d14a5662f24bbd8dc3859d05b5677a = L.polyline(
                [[1.4028764, 103.8958745], [1.4030185, 103.8958918]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_4ecdcc73af694fe89e13b8d257f38622 = L.polyline(
                [[1.4030185, 103.8958918], [1.4032464, 103.895916], [1.4034248, 103.8959348]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_ed5c7620ecd346388bfcdc803572605d = L.polyline(
                [[1.4034248, 103.8959348], [1.403343, 103.8964105]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_cef5584979eb4a15b8b66311f37ffac3 = L.polyline(
                [[1.403343, 103.8964105], [1.4032948, 103.8966903]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_4b44c7a1102e4049815c0dba67b36565 = L.polyline(
                [[1.4032948, 103.8966903], [1.4032637, 103.8968612]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_f039357576074560ad25c56b238a0f08 = L.polyline(
                [[1.4032637, 103.8968612], [1.4031587, 103.8973564]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_c39f374353464b0dbea59b710a944008 = L.polyline(
                [[1.4031587, 103.8973564], [1.4030329, 103.89775], [1.4028912, 103.8981883]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_841489812a544291bcb6248c66510a01 = L.polyline(
                [[1.4028912, 103.8981883], [1.4026042, 103.8990886]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_bd81caa9892c44ed80ecff4154334732 = L.polyline(
                [[1.4026042, 103.8990886], [1.4025052, 103.8993799]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_623cd3a9365a4fa28903bac801a23304 = L.polyline(
                [[1.4025052, 103.8993799], [1.4024602, 103.8994881]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_8dad0d1c81fa4ee09d43064b83366caa = L.polyline(
                [[1.4024602, 103.8994881], [1.4023287, 103.8998077], [1.4023008, 103.8998756]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_24a36e66ddb84b72b73b7e08fd551e0a = L.polyline(
                [[1.4023008, 103.8998756], [1.4022427, 103.900062], [1.4018883, 103.9009298], [1.4015174, 103.9017357]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_2752cd966e884397b2011810513e14f6 = L.polyline(
                [[1.4015174, 103.9017357], [1.4014232, 103.9019601]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_344f4e30122d4ef39ed40a437b084d31 = L.polyline(
                [[1.4014232, 103.9019601], [1.4013861, 103.9020482]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_fa98789665ae4da0acb935aab0dc8224 = L.polyline(
                [[1.4013861, 103.9020482], [1.4012639, 103.9022935]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_e8e9a29269d744e183dfae09685bd45a = L.polyline(
                [[1.4012639, 103.9022935], [1.4011053, 103.9026296], [1.4009391, 103.9029622], [1.4007943, 103.9032502], [1.4006683, 103.9035036]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_0698238095be4587977b50692f4b8720 = L.polyline(
                [[1.4006683, 103.9035036], [1.4005047, 103.9038151], [1.4000692, 103.9046394]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_ea82154d104443d7a104175a5962adf2 = L.polyline(
                [[1.4000692, 103.9046394], [1.39991, 103.9049553]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_3c01025df93945a78f0cb44b25c5df8e = L.polyline(
                [[1.39991, 103.9049553], [1.3998178, 103.9050898]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_99ddf2eb4b2d46b1a20d9608fef7a775 = L.polyline(
                [[1.3998178, 103.9050898], [1.3996064, 103.9053896]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_4ad7ec515b7d4f48ae460d2f24636ea8 = L.polyline(
                [[1.3996064, 103.9053896], [1.3994, 103.9056954], [1.3992605, 103.9058912], [1.3991345, 103.9060467], [1.3988214, 103.9064504]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_67b16fef424f48bb8ade778a4bcedaa6 = L.polyline(
                [[1.3988214, 103.9064504], [1.3984727, 103.9068999]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_df02b85b1e4846838b603a06f8e5aa1a = L.polyline(
                [[1.3984727, 103.9068999], [1.3982345, 103.9071445]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_493fcc752598465a8ae07c47de4beba7 = L.polyline(
                [[1.3982345, 103.9071445], [1.398188, 103.9072047]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_f87ebb2e45a84a9c99423116f362c2e0 = L.polyline(
                [[1.398188, 103.9072047], [1.3983383, 103.9072954]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_cf1978e54c9d47df86e071977574ac0f = L.polyline(
                [[1.3983383, 103.9072954], [1.398564, 103.907458]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_7c7ec78d7c184f4bb1b900b151256c83 = L.polyline(
                [[1.398564, 103.907458], [1.3989754, 103.9077539], [1.3993423, 103.9079908]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_95fdc4871b75412c8fc95924d8b42cdf = L.polyline(
                [[1.3993423, 103.9079908], [1.399929, 103.9084169]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_97c7239d2f174161b5b3c14bed4f4b70 = L.polyline(
                [[1.399929, 103.9084169], [1.4005812, 103.9088758]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_f3b45013e66e4fa4bc4e90810d60fa7d = L.polyline(
                [[1.4005812, 103.9088758], [1.4006568, 103.9089811], [1.4006828, 103.9090753], [1.4006811, 103.9091657], [1.4006592, 103.9092798]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_f8e22dc6c51b43d3aa40a131df0176d0 = L.polyline(
                [[1.4006592, 103.9092798], [1.4003706, 103.9096959], [1.4002906, 103.9098166]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_957774b7e08f47fbbb44d479c94290e9 = L.polyline(
                [[1.4002906, 103.9098166], [1.3999723, 103.9102403], [1.3997166, 103.9105688]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_bba6ba821cac4cec82e93d4df3c78120 = L.polyline(
                [[1.3997166, 103.9105688], [1.3993851, 103.9110447]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_4a284c895bb8489f825185cb663d0723 = L.polyline(
                [[1.3993851, 103.9110447], [1.3982546, 103.912612]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_3f9414276a1b43dbb6b04e3a033c0784 = L.polyline(
                [[1.3982546, 103.912612], [1.3980923, 103.9128445]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_db4a0cea1190446197321b22749935fa = L.polyline(
                [[1.3980923, 103.9128445], [1.3980309, 103.9129379]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_1a3ed99e353a46edb93ea4cfcd47545b = L.polyline(
                [[1.3980309, 103.9129379], [1.3978418, 103.9131969]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_b5c06d967be442268e954f255de59a28 = L.polyline(
                [[1.3978418, 103.9131969], [1.3976194, 103.9135175], [1.3975301, 103.9136439], [1.3969054, 103.9145279]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_6976cf687f7d43e7a80e0bf9c9e26f7a = L.polyline(
                [[1.3969054, 103.9145279], [1.3959572, 103.915859]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_2d7b2f3be607415db42486221df16aac = L.polyline(
                [[1.3959572, 103.915859], [1.3955405, 103.9164202]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_fa0e57d7f2c64290a816a6feff5374c0 = L.polyline(
                [[1.3955405, 103.9164202], [1.3953869, 103.9166314]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_316bec00c37d4de786dfc52380ab74d3 = L.polyline(
                [[1.3953869, 103.9166314], [1.3952698, 103.9167883]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_1615144de8404a3ebae3d88c992de4f9 = L.polyline(
                [[1.3952698, 103.9167883], [1.3953907, 103.9168727]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_6563e84a949d4cd288cd88426d1b86ee = L.polyline(
                [[1.3953907, 103.9168727], [1.3956857, 103.917078]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_4543109859f64d6fbef11f3cc251f983 = L.polyline(
                [[1.3956857, 103.917078], [1.3958172, 103.9171832], [1.3960924, 103.9173791], [1.3962846, 103.9175141]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_b8e8568cae914868aabc797ce4f51a8c = L.polyline(
                [[1.3962846, 103.9175141], [1.396139, 103.9177085]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            var poly_line_d5e7d9d4d06140fbb43c33fdfbb14ceb = L.polyline(
                [[1.396139, 103.9177085], [1.3972759, 103.9184864], [1.3972976, 103.9185324], [1.3972789, 103.9185874], [1.3969937, 103.919]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fcdd1af8d95c44d7b1b5fdb21ef61f83);
        
    
            map_fcdd1af8d95c44d7b1b5fdb21ef61f83.fitBounds(
                [[1.3952698, 103.8949884], [1.4034248, 103.919]],
                {}
            );
        
</script>