<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_31d4068149c8414fa0805c21f4820572 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_31d4068149c8414fa0805c21f4820572" ></div>
        
</body>
<script>    
    
            var map_31d4068149c8414fa0805c21f4820572 = L.map(
                "map_31d4068149c8414fa0805c21f4820572",
                {
                    center: [1.4039879472108132, 103.90580218833601],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d9215e3ad4194afa84f65da593ab3763 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_9300e2f05f884147a2f998b9e9379773 = L.polyline(
                [[1.4055792, 103.8972466], [1.4050049, 103.8970791]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_ceb5f9f971a648bcb258cf2c5ef67231 = L.polyline(
                [[1.4050049, 103.8970791], [1.4041883, 103.8968498]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_5742ba4827ab4297bd0e1aa0701c7403 = L.polyline(
                [[1.4041883, 103.8968498], [1.4039861, 103.8968137]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_b9083689a7ac43619696938f9970a89f = L.polyline(
                [[1.4039861, 103.8968137], [1.4037466, 103.8968382]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_57af1cfee004443b9750138d41ff121e = L.polyline(
                [[1.4037466, 103.8968382], [1.4035715, 103.8969052]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_c6966697f7ff454aa4a47527d79c4611 = L.polyline(
                [[1.4035715, 103.8969052], [1.4034221, 103.8970018]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_b1910f5dc9424aa788440f72d79680c9 = L.polyline(
                [[1.4034221, 103.8970018], [1.4032959, 103.8971268]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_265f0d43e3e6435ca776f33359f09c6c = L.polyline(
                [[1.4032959, 103.8971268], [1.4031787, 103.8973419]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_4080972328fa4971a34f1c850f5f8bd6 = L.polyline(
                [[1.4031787, 103.8973419], [1.4030588, 103.8976765]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_63bd188f1a8340b4937e3f3dc6227450 = L.polyline(
                [[1.4030588, 103.8976765], [1.4027479, 103.8985451]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_804fce0362b04766b992c9a54098164c = L.polyline(
                [[1.4027479, 103.8985451], [1.4023594, 103.8996183]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_5e7d961b608b40d296f64d20190b7ca1 = L.polyline(
                [[1.4023594, 103.8996183], [1.4022493, 103.8999376]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_c8fde7be06ed40978dd5a97b413b4a3c = L.polyline(
                [[1.4022493, 103.8999376], [1.4021705, 103.9002053]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_0fe84b96370449a1a7fbc45e49554ae6 = L.polyline(
                [[1.4021705, 103.9002053], [1.402178, 103.9003767]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_c867a821e42243548c7279a37f3cffea = L.polyline(
                [[1.402178, 103.9003767], [1.402181, 103.9004468]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_aea6d17e3fac4c88be06402a8df31e07 = L.polyline(
                [[1.402181, 103.9004468], [1.4022767, 103.9006861]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_3d473e8ef3c94ea0b175f2b64881bf20 = L.polyline(
                [[1.4022767, 103.9006861], [1.4023933, 103.9008396]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_bfba1709aac44c799f64ed019dfb6799 = L.polyline(
                [[1.4023933, 103.9008396], [1.4026665, 103.901094]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_ced9831d4a7b49029a7d47b59b3fac12 = L.polyline(
                [[1.4026665, 103.901094], [1.4036483, 103.9016317]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_56c0c85f520240aea5b7255550bdbc54 = L.polyline(
                [[1.4036483, 103.9016317], [1.4039372, 103.9017148]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_ae5d53d5c4284ec6a60e338b42af111f = L.polyline(
                [[1.4039372, 103.9017148], [1.4043864, 103.9019645]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_fab3166a79b44abd96a08c841161e9b8 = L.polyline(
                [[1.4043864, 103.9019645], [1.4048461, 103.902302]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_bf39fc5d21e545daa994bdf69245992f = L.polyline(
                [[1.4048461, 103.902302], [1.4051499, 103.9024702]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_1b07738be1144de9bc6f1a17df23080b = L.polyline(
                [[1.4051499, 103.9024702], [1.4055467, 103.9026898]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_74d315760ff84c0b8475c9f55d099fd1 = L.polyline(
                [[1.4055467, 103.9026898], [1.405906, 103.9027954]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_ff90da71382e4a368e69afce454ed3d4 = L.polyline(
                [[1.405906, 103.9027954], [1.4070234, 103.9034045]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_54d1535cb91d49349319ad2c882ca24b = L.polyline(
                [[1.4070234, 103.9034045], [1.4072128, 103.9035684]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_5df4dc5843a54533aac2fc554b5fc324 = L.polyline(
                [[1.4072128, 103.9035684], [1.4074467, 103.9038372]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_770440b2162e4c7ba2979878491fbf0e = L.polyline(
                [[1.4074467, 103.9038372], [1.4074863, 103.9039291]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_10927e579a0649f2ab816c5ed78927ca = L.polyline(
                [[1.4074863, 103.9039291], [1.4075678, 103.904118]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_8c9b700b08d54d0f9626037f3d21f046 = L.polyline(
                [[1.4075678, 103.904118], [1.4076142, 103.9044066]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_ea3fefff3dfa4e309dcf801123ec6b22 = L.polyline(
                [[1.4076142, 103.9044066], [1.4075884, 103.9046591]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_397616a9075d42d2a0b5f97d2b1ac5a1 = L.polyline(
                [[1.4075884, 103.9046591], [1.4075086, 103.9049399]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_3e66d63b992a42288e68f8bbe4d1ebf3 = L.polyline(
                [[1.4075086, 103.9049399], [1.4069728, 103.9060579]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_77dce0d9261c4ce8ac04e51f4de82430 = L.polyline(
                [[1.4069728, 103.9060579], [1.4068067, 103.9063761]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_b5de32c91692487db6d04b9f7db00dbf = L.polyline(
                [[1.4068067, 103.9063761], [1.406034, 103.9074971]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_bb7030ef7f2742919873a5e8feec4682 = L.polyline(
                [[1.406034, 103.9074971], [1.4055386, 103.9081329]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_1480bc33833846ab9bc36442cec4aa4c = L.polyline(
                [[1.4055386, 103.9081329], [1.4053673, 103.9083654]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_9848a50f18ad4833a89b9fddafd5656c = L.polyline(
                [[1.4053673, 103.9083654], [1.4050742, 103.9087633]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_d822768760c347dd82f80665c488ff34 = L.polyline(
                [[1.4050742, 103.9087633], [1.4046635, 103.9093817]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_d03625c956c84e538655600c3d30ba50 = L.polyline(
                [[1.4046635, 103.9093817], [1.4034655, 103.911066]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_da33c9a78f9044f1bb0d6c0d54a9c146 = L.polyline(
                [[1.4034655, 103.911066], [1.4031732, 103.9114899]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_e4a399db9ccf4f479b071898419ba31f = L.polyline(
                [[1.4031732, 103.9114899], [1.4027366, 103.9120296]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_56cd0a90514a488d960671e986d69353 = L.polyline(
                [[1.4027366, 103.9120296], [1.4021767, 103.9128156]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_383803d8ca934a6c8e3627748f833822 = L.polyline(
                [[1.4021767, 103.9128156], [1.4017105, 103.9134932]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_544644c32b1e4710b75d6edacfb02d4b = L.polyline(
                [[1.4017105, 103.9134932], [1.4004905, 103.9151945]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_be0b169fad664efc9148864a882c761a = L.polyline(
                [[1.4004905, 103.9151945], [1.3999709, 103.9158693]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            var poly_line_5e838780831349c1ba0e532ced86904d = L.polyline(
                [[1.3999709, 103.9158693], [1.3994815, 103.9165527]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_31d4068149c8414fa0805c21f4820572);
        
    
            map_31d4068149c8414fa0805c21f4820572.fitBounds(
                [[1.3994815, 103.8968137], [1.4076142, 103.9165527]],
                {}
            );
        
</script>