<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cb33b60c55154dffbfa95bc5936ef74d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_cb33b60c55154dffbfa95bc5936ef74d" ></div>
        
</body>
<script>    
    
            var map_cb33b60c55154dffbfa95bc5936ef74d = L.map(
                "map_cb33b60c55154dffbfa95bc5936ef74d",
                {
                    center: [1.4039879472108132, 103.90580218833601],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_be82ebfc04034d9f9718299a38ac9ced = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_e62492d9e61b4669ad6533c6028a2309 = L.polyline(
                [[1.4055792, 103.8972466], [1.4050049, 103.8970791]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_845d755637d7480fabb912b2b0fc0179 = L.polyline(
                [[1.4050049, 103.8970791], [1.4041883, 103.8968498]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_16c778ae88a14913872d1b75cdbd2b3e = L.polyline(
                [[1.4041883, 103.8968498], [1.4039861, 103.8968137]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_f296384efb7b4b7884f28714e897dd24 = L.polyline(
                [[1.4039861, 103.8968137], [1.4037466, 103.8968382]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_79c3b9bde1d04b35be2b75943c7e201c = L.polyline(
                [[1.4037466, 103.8968382], [1.4035715, 103.8969052]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_1ff60032ba434c5d9636054ee22fbdd8 = L.polyline(
                [[1.4035715, 103.8969052], [1.4034221, 103.8970018]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_9351809a80d643a2969a2c46353ebe49 = L.polyline(
                [[1.4034221, 103.8970018], [1.4032959, 103.8971268]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_c7e47deed4c441c6a81a3d6c822483d9 = L.polyline(
                [[1.4032959, 103.8971268], [1.4031787, 103.8973419]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_3c6392174c4645a7bccda7e794aa4c0f = L.polyline(
                [[1.4031787, 103.8973419], [1.4030588, 103.8976765]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_b485c345ab3c42cc9b662c3281890db5 = L.polyline(
                [[1.4030588, 103.8976765], [1.4027479, 103.8985451]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_1ece1b7112a64c289fee1ea00faaeb4c = L.polyline(
                [[1.4027479, 103.8985451], [1.4023594, 103.8996183]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_360b31bb00094500a4cea80b42f4e6fa = L.polyline(
                [[1.4023594, 103.8996183], [1.4022493, 103.8999376]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_37e4588089d2460c950e6febc89c092b = L.polyline(
                [[1.4022493, 103.8999376], [1.4021705, 103.9002053]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_4b5875348c7f44578f77235bf3455337 = L.polyline(
                [[1.4021705, 103.9002053], [1.402178, 103.9003767]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_426042cd035349b2bf5ecee4c24a564b = L.polyline(
                [[1.402178, 103.9003767], [1.402181, 103.9004468]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_26f41cc731334227820e2a4799639dda = L.polyline(
                [[1.402181, 103.9004468], [1.4022767, 103.9006861]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_d575a487722a4e4cb862d40e6cc9de34 = L.polyline(
                [[1.4022767, 103.9006861], [1.4023933, 103.9008396]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_0827115353954a548cc13527b7bcb5a4 = L.polyline(
                [[1.4023933, 103.9008396], [1.4026665, 103.901094]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_aca5ce7de147496584390a7703c79ce1 = L.polyline(
                [[1.4026665, 103.901094], [1.4036483, 103.9016317]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_baf3e86b0fcf46e0a4f27a40780c20f9 = L.polyline(
                [[1.4036483, 103.9016317], [1.4039372, 103.9017148]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_d552d87668284ea6a555871eed429c81 = L.polyline(
                [[1.4039372, 103.9017148], [1.4043864, 103.9019645]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_7f36a1ec56db48bd8b356ef1f35ff56e = L.polyline(
                [[1.4043864, 103.9019645], [1.4048461, 103.902302]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_2e51dabe0e19495bb77cb065e975d6c3 = L.polyline(
                [[1.4048461, 103.902302], [1.4051499, 103.9024702]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_6c214369f4f845fbbbade95e01d6e524 = L.polyline(
                [[1.4051499, 103.9024702], [1.4055467, 103.9026898]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_3e37d2e38685470b98266684a2ebccfb = L.polyline(
                [[1.4055467, 103.9026898], [1.405906, 103.9027954]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_bda2e5f7c6e14197bf256b0352f358f2 = L.polyline(
                [[1.405906, 103.9027954], [1.4070234, 103.9034045]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_8dd9117b715b49328a0a1ede28a31569 = L.polyline(
                [[1.4070234, 103.9034045], [1.4072128, 103.9035684]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_f7a31cbb0d654d19adc4334082ada909 = L.polyline(
                [[1.4072128, 103.9035684], [1.4074467, 103.9038372]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_c18c5ddcf82a4feb87a8752d6d52c8a2 = L.polyline(
                [[1.4074467, 103.9038372], [1.4074863, 103.9039291]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_f8346b230b464f14904a0834f6c3055e = L.polyline(
                [[1.4074863, 103.9039291], [1.4075678, 103.904118]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_6c11ce11ee2c4675b3604ba59f11bef1 = L.polyline(
                [[1.4075678, 103.904118], [1.4076142, 103.9044066]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_783de51888044c41917ecce38fb58292 = L.polyline(
                [[1.4076142, 103.9044066], [1.4075884, 103.9046591]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_3d4705b70c274f7baeb8aad93e865de9 = L.polyline(
                [[1.4075884, 103.9046591], [1.4075086, 103.9049399]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_f0ddbcfda2ff4d7ca903342fc37f9f69 = L.polyline(
                [[1.4075086, 103.9049399], [1.4069728, 103.9060579]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_13b07f7f43bf4553bde764270ce00aa0 = L.polyline(
                [[1.4069728, 103.9060579], [1.4068067, 103.9063761]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_7423e5ffd926445490f2c9e583524ef5 = L.polyline(
                [[1.4068067, 103.9063761], [1.406034, 103.9074971]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_27582ab40b6d4409914e0d677596d526 = L.polyline(
                [[1.406034, 103.9074971], [1.4055386, 103.9081329]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_c30bcdc6cb184812b085495b1a328c5d = L.polyline(
                [[1.4055386, 103.9081329], [1.4053673, 103.9083654]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_dfeac665ae05443b92fb9b574cdac999 = L.polyline(
                [[1.4053673, 103.9083654], [1.4050742, 103.9087633]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_f57ab54dd515410b89ee4fce1ae12fce = L.polyline(
                [[1.4050742, 103.9087633], [1.4046635, 103.9093817]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_048b6f5ccf844b01b906ab0cb159814e = L.polyline(
                [[1.4046635, 103.9093817], [1.4034655, 103.911066]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_8fb8ea3a80d146a1a2641790c89e880d = L.polyline(
                [[1.4034655, 103.911066], [1.4031732, 103.9114899]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_199a50b1bb64492bb9a13ef741b85b9b = L.polyline(
                [[1.4031732, 103.9114899], [1.4027366, 103.9120296]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_7104701af6cb43b8ad65ac2397db6b9a = L.polyline(
                [[1.4027366, 103.9120296], [1.4021767, 103.9128156]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_821d532ca12b4ffc836e9dc277884f0c = L.polyline(
                [[1.4021767, 103.9128156], [1.4017105, 103.9134932]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_5364aca714db456f8c42304e63817777 = L.polyline(
                [[1.4017105, 103.9134932], [1.4004905, 103.9151945]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_21de8aa0b6344a9a8859ce8958c62ea7 = L.polyline(
                [[1.4004905, 103.9151945], [1.3999709, 103.9158693]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            var poly_line_b2ed679093eb48eaa8a72b52a693d986 = L.polyline(
                [[1.3999709, 103.9158693], [1.3994815, 103.9165527]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cb33b60c55154dffbfa95bc5936ef74d);
        
    
            map_cb33b60c55154dffbfa95bc5936ef74d.fitBounds(
                [[1.3994815, 103.8968137], [1.4076142, 103.9165527]],
                {}
            );
        
</script>