<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

<!--    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->
</head>
<body>
<header>{% block header %}{% endblock %} </header>
<main> {% block main %} {% endblock %} </main>
<footer> {% block footer %} {% endblock %} </footer>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>