<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4327a8747172495cb47f6811a38d8270 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0cad690c274a48b9bbb6183580bb4bcb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4327a8747172495cb47f6811a38d8270" ></div>
        
    
            <div class="folium-map" id="map_0cad690c274a48b9bbb6183580bb4bcb" ></div>
        
</body>
<script>    
    
            var map_4327a8747172495cb47f6811a38d8270 = L.map(
                "map_4327a8747172495cb47f6811a38d8270",
                {
                    center: [1.4010672426591928, 103.91385326880624],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_79d0845238484b97bc3d80cf50a7e54e = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_793b8a72f2f646da9337b2f1f50b1636 = L.polyline(
                [[1.4060506, 103.9073345], [1.4059986, 103.9074075], [1.4058411, 103.9076287]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_fb4f6e8fd2564e009f928ad485dbdda1 = L.polyline(
                [[1.4058411, 103.9076287], [1.4057705, 103.9077311]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_ba9817548f1947bcba4be2b775479fae = L.polyline(
                [[1.4057705, 103.9077311], [1.4055722, 103.9079736]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_4575a1224ac343e3a9ae6938350d3c74 = L.polyline(
                [[1.4055722, 103.9079736], [1.4053293, 103.9082807], [1.4052174, 103.9084391], [1.4047697, 103.9090723]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_540322d399064b6da4356ce04b8633c7 = L.polyline(
                [[1.4047697, 103.9090723], [1.4046497, 103.9092421], [1.4036422, 103.9106667]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_80856566170c46f198139abb618310bf = L.polyline(
                [[1.4036422, 103.9106667], [1.4035157, 103.9108485]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_bf3695bccd9246bd905c8c470a8ec2a7 = L.polyline(
                [[1.4035157, 103.9108485], [1.4034522, 103.910928]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_c1ebeccf8762435e8cdcd0c9c8a4104f = L.polyline(
                [[1.4034522, 103.910928], [1.4031212, 103.9113762]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_b26ca1ecc8684c12a9a7e3ab72d6c828 = L.polyline(
                [[1.4031212, 103.9113762], [1.4028026, 103.9118295]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_c4336bdbbc2940138df447914315c202 = L.polyline(
                [[1.4028026, 103.9118295], [1.401286, 103.9139872]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_6ce1523cdc2f4437ad40dbe4879d9b59 = L.polyline(
                [[1.401286, 103.9139872], [1.4008596, 103.914581]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_49de93ca9e4244d599350ba003ed9bc7 = L.polyline(
                [[1.4008596, 103.914581], [1.4007321, 103.9147505]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_d6594c10f38d4f15ae08a8ad3439a8de = L.polyline(
                [[1.4007321, 103.9147505], [1.4006718, 103.9148335]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_58a7d26e029841079862edfa3a23b15e = L.polyline(
                [[1.4006718, 103.9148335], [1.4002941, 103.9153469]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_750765d9fc9c4eb9b8150bf8c4ed7491 = L.polyline(
                [[1.4002941, 103.9153469], [1.400187, 103.9154962], [1.4001186, 103.9155934], [1.399954, 103.9158193]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_d6531d011848443880c142c1bdbcf7e3 = L.polyline(
                [[1.399954, 103.9158193], [1.3997805, 103.9160603], [1.3994163, 103.9165663], [1.3990391, 103.9170903]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_ca10b9b6f3ea4a5d9792b800d2c5c038 = L.polyline(
                [[1.3990391, 103.9170903], [1.3989872, 103.9171648]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_c00fde37d774473880532671412d1c53 = L.polyline(
                [[1.3989872, 103.9171648], [1.3987593, 103.917492], [1.3987076, 103.9175663], [1.3984592, 103.917923], [1.3981913, 103.9182945], [1.3981387, 103.9183691]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_b6cce980bdcf4b969d3cd55edc68185e = L.polyline(
                [[1.3981387, 103.9183691], [1.3980268, 103.9185566]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_df78932eb08f4b6698e3a8747624bebe = L.polyline(
                [[1.3980268, 103.9185566], [1.397943, 103.9186803]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_0f1906c0abf740348490f78457f52533 = L.polyline(
                [[1.397943, 103.9186803], [1.3976918, 103.9185163]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_6fa44cf3c72143e49f798eb7ddace956 = L.polyline(
                [[1.3976918, 103.9185163], [1.3970993, 103.9180711], [1.3962846, 103.9175141]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_46bf1c367adc47e39381f7e32d55dbbd = L.polyline(
                [[1.3962846, 103.9175141], [1.396139, 103.9177085]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            var poly_line_bf47a7f440ca49c48ac226eda6fe4e15 = L.polyline(
                [[1.396139, 103.9177085], [1.3956014, 103.9172982]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_4327a8747172495cb47f6811a38d8270);
        
    
            map_4327a8747172495cb47f6811a38d8270.fitBounds(
                [[1.3956014, 103.9073345], [1.4060506, 103.9186803]],
                {}
            );
        
    
            var map_0cad690c274a48b9bbb6183580bb4bcb = L.map(
                "map_0cad690c274a48b9bbb6183580bb4bcb",
                {
                    center: [1.403948, 103.909048],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6e84470bf263406e833570a554707c2f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0cad690c274a48b9bbb6183580bb4bcb);
        
</script>