<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_106ce759015948859f906c07c61ff274 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e9d97c61d24743469cac8ed6349d102d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_106ce759015948859f906c07c61ff274" ></div>
        
    
            <div class="folium-map" id="map_e9d97c61d24743469cac8ed6349d102d" ></div>
        
</body>
<script>    
    
            var map_106ce759015948859f906c07c61ff274 = L.map(
                "map_106ce759015948859f906c07c61ff274",
                {
                    center: [1.4043152605600122, 103.90584532717276],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_10dd387d27904eeb91c69f8dfde5dd42 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_126429ceaef74d00989ce73876138b86 = L.polyline(
                [[1.4053828, 103.9022239], [1.405362, 103.9022599], [1.4052852, 103.9024], [1.4052122, 103.9025283], [1.4048879, 103.9031052], [1.4046355, 103.9035531]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_0c63a5e11a644c149ba0175a595d1d57 = L.polyline(
                [[1.4046355, 103.9035531], [1.4044809, 103.9038275]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_e31129e67a294e239d63ebd518419695 = L.polyline(
                [[1.4044809, 103.9038275], [1.4044437, 103.9039067]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_90a5449fca15468aaa80df83b23fc11f = L.polyline(
                [[1.4044437, 103.9039067], [1.4043433, 103.904112]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_cfa959579470404fafe1996bbab676d6 = L.polyline(
                [[1.4043433, 103.904112], [1.4040091, 103.9047004]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_4a9f8f744c1c4668994c37674c3dd032 = L.polyline(
                [[1.4040091, 103.9047004], [1.4038705, 103.9049444], [1.4036879, 103.9052092], [1.4034604, 103.9055394]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_f71488a87e514b0da9881bbf5bb5bb69 = L.polyline(
                [[1.4034604, 103.9055394], [1.4033926, 103.9056471], [1.4032213, 103.9059194]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_e06bac7903744e22b0291c6c65657c91 = L.polyline(
                [[1.4032213, 103.9059194], [1.4029677, 103.9062514]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_1172ef0a4508492e9aa42ae9fda56f75 = L.polyline(
                [[1.4029677, 103.9062514], [1.4028932, 103.9063671]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_e3e50e4b266f46a0b0d72129ead40a81 = L.polyline(
                [[1.4028932, 103.9063671], [1.4032279, 103.9065025]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_580dbad8c1f049dabafeebe9ba5366e3 = L.polyline(
                [[1.4032279, 103.9065025], [1.4035961, 103.9066672], [1.4038508, 103.9067807]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_2bc927191463496f825b2ab19862bb00 = L.polyline(
                [[1.4038508, 103.9067807], [1.4037785, 103.9068835]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_66d3707b4454424db0a712230fa02cc0 = L.polyline(
                [[1.4037785, 103.9068835], [1.4040676, 103.9070217], [1.4044457, 103.9072088], [1.4044893, 103.9072376], [1.4046234, 103.9073154]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            var poly_line_bfa3ba1a72124152a45ecfe3836d53d3 = L.polyline(
                [[1.4046234, 103.9073154], [1.4046401, 103.9073195], [1.4046615, 103.9073255], [1.404683, 103.9073322], [1.40487, 103.9074247], [1.4051992, 103.9075991], [1.4053842, 103.9077117], [1.4054164, 103.9077453], [1.4054271, 103.9077801], [1.4054304, 103.9078143], [1.4054311, 103.9078438], [1.4054217, 103.9078807], [1.4054012, 103.9079176], [1.4052535, 103.908114], [1.4052331, 103.9081485], [1.4051969, 103.9082255], [1.4051818, 103.90826], [1.4050694, 103.9084268], [1.4048758, 103.9086962], [1.4046621, 103.9089985]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_106ce759015948859f906c07c61ff274);
        
    
            map_106ce759015948859f906c07c61ff274.fitBounds(
                [[1.4028932, 103.9022239], [1.4054311, 103.9089985]],
                {}
            );
        
    
            var map_e9d97c61d24743469cac8ed6349d102d = L.map(
                "map_e9d97c61d24743469cac8ed6349d102d",
                {
                    center: [1.403948, 103.909048],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_da9976308db143b596f0dc0e0d655575 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e9d97c61d24743469cac8ed6349d102d);
        
</script>