<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fa1f0caaea6d454d82885840b20c7d72 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9545de11e73543f6be1ca92982e85689 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_fa1f0caaea6d454d82885840b20c7d72" ></div>
        
    
            <div class="folium-map" id="map_9545de11e73543f6be1ca92982e85689" ></div>
        
</body>
<script>    
    
            var map_fa1f0caaea6d454d82885840b20c7d72 = L.map(
                "map_fa1f0caaea6d454d82885840b20c7d72",
                {
                    center: [1.4041844644684196, 103.89962119720731],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c8e847ce0745452da2320defff1d8dff = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_7bd19dc2bcc54815a1d20f0f14e2ba3d = L.polyline(
                [[1.4028912, 103.8981883], [1.4030329, 103.89775], [1.4031587, 103.8973564]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_b2092253aaa74d308a215fdaf6a084d1 = L.polyline(
                [[1.4031587, 103.8973564], [1.4032637, 103.8968612]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_47a8b94b277b43f28c4c24f8dd2bb6ca = L.polyline(
                [[1.4032637, 103.8968612], [1.4032948, 103.8966903]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_0c6adc7c7e61495b979673d2a94155ae = L.polyline(
                [[1.4032948, 103.8966903], [1.4033917, 103.8967028]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_5f7933f82da64ccfaeba509d9046474d = L.polyline(
                [[1.4033917, 103.8967028], [1.4036165, 103.8967475]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_41eff32b1b9c40bca69fe8b8e848a6dd = L.polyline(
                [[1.4036165, 103.8967475], [1.4040333, 103.89684], [1.4046449, 103.8969897], [1.4052562, 103.8971499], [1.4054806, 103.8972181]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_0fbb833659584409998988b4695727ce = L.polyline(
                [[1.4054806, 103.8972181], [1.4057066, 103.8972826], [1.4059007, 103.8973378]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_d2e957a663734aa88d4fa1d53736cd9d = L.polyline(
                [[1.4059007, 103.8973378], [1.4063536, 103.8974777]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_f6e5b518f06642d9bce9d9fdf32b66aa = L.polyline(
                [[1.4063536, 103.8974777], [1.4064641, 103.8975106]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_ef6c5bcbfba646f09ace0d2d0266d95c = L.polyline(
                [[1.4064641, 103.8975106], [1.4064775, 103.8977348]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_dfedef215da446b583a01ef96888e849 = L.polyline(
                [[1.4064775, 103.8977348], [1.4064982, 103.8982675]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_f25b4739beef4e318fd354123635a577 = L.polyline(
                [[1.4064982, 103.8982675], [1.4064768, 103.8986131], [1.4064728, 103.8991574], [1.4064796, 103.8996791], [1.4064342, 103.899942], [1.4063637, 103.9002382]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_693a3d4c721d4662bb0050ce0b0bf21b = L.polyline(
                [[1.4063637, 103.9002382], [1.4063405, 103.9003157], [1.4062542, 103.9006034]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_a2ca77536f604650afe2acc5bdfce2e7 = L.polyline(
                [[1.4062542, 103.9006034], [1.4061432, 103.900832]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_a53f20808b7649dab61ca87957247adf = L.polyline(
                [[1.4061432, 103.900832], [1.4060895, 103.9009545]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_ecbf6087610443b7a3ab5833daade0bd = L.polyline(
                [[1.4060895, 103.9009545], [1.4059675, 103.9009087]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_540bcc2bbbb647dca20de2bd0d3b04b5 = L.polyline(
                [[1.4059675, 103.9009087], [1.4056398, 103.9007845]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_f91cf7776f6a4ad997701668d0ca2aae = L.polyline(
                [[1.4056398, 103.9007845], [1.4038948, 103.9000746]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_bd7b68a3fd05429b9b4e71e7304b915f = L.polyline(
                [[1.4038948, 103.9000746], [1.4035004, 103.8999124]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_c6814e3dc0654ba18428b52c26a1b19f = L.polyline(
                [[1.4035004, 103.8999124], [1.4032097, 103.8997962], [1.4029134, 103.8996769]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_02c0952f41514b2196fe80208d4ed83e = L.polyline(
                [[1.4029134, 103.8996769], [1.4027356, 103.8996623], [1.4026496, 103.8997031], [1.402585, 103.8997452], [1.4025167, 103.8998156]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_b737fd1dba24486fb7abaf1db7ba81ed = L.polyline(
                [[1.4025167, 103.8998156], [1.4024943, 103.8998688], [1.4023123, 103.9003016], [1.4022825, 103.9003685], [1.4019232, 103.9012375], [1.401812, 103.9014912]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_e730fc7278f6471088e8722a2db668a0 = L.polyline(
                [[1.401812, 103.9014912], [1.4019651, 103.9015454]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_32c5f3627e474f32b31d481ad1c59d88 = L.polyline(
                [[1.4019651, 103.9015454], [1.4018092, 103.9018907], [1.4018038, 103.9019202], [1.4018146, 103.9019524], [1.4018387, 103.9019738], [1.4018602, 103.9019872], [1.4020244, 103.9020744], [1.4020338, 103.9020838], [1.4020539, 103.9021716], [1.4020579, 103.9021817], [1.4020673, 103.9021938], [1.4024117, 103.9023996]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_8ab0046d79c14bc3a1b71279f16c52b5 = L.polyline(
                [[1.4024117, 103.9023996], [1.4023438, 103.9025131]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_e7601e2cfccb4b77bae60239883ef3e2 = L.polyline(
                [[1.4023438, 103.9025131], [1.4031102, 103.9029776]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_751e208cad044ecdb81b7c5df171a030 = L.polyline(
                [[1.4031102, 103.9029776], [1.4032743, 103.9026886]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_daa67ed83be041de8d64951f24f94135 = L.polyline(
                [[1.4032743, 103.9026886], [1.403368, 103.9025304]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            var poly_line_551f1380fce34d53b8757d229367d142 = L.polyline(
                [[1.403368, 103.9025304], [1.4034919, 103.9023155]],
                {"bubblingMouseEvents": true, "color": "#00008B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#00008B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_fa1f0caaea6d454d82885840b20c7d72);
        
    
            map_fa1f0caaea6d454d82885840b20c7d72.fitBounds(
                [[1.4018038, 103.8966903], [1.4064982, 103.9029776]],
                {}
            );
        
    
            var map_9545de11e73543f6be1ca92982e85689 = L.map(
                "map_9545de11e73543f6be1ca92982e85689",
                {
                    center: [1.404107, 103.9025242],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bd7a77d648ec4447af367649e4b4de21 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9545de11e73543f6be1ca92982e85689);
        
    
            var marker_1ec0ec6b7c5e414a9578d4896559c2c1 = L.marker(
                [1.4026665, 103.8986331],
                {}
            ).addTo(map_9545de11e73543f6be1ca92982e85689);
        
    
            var icon_2b011e3375eb465aaa71efa74cbda5a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_1ec0ec6b7c5e414a9578d4896559c2c1.setIcon(icon_2b011e3375eb465aaa71efa74cbda5a3);
        
    
        var popup_2cb6ea9f640243e28ed8e051a5614877 = L.popup({"maxWidth": 450});

        
            var html_dc750ddc6d92487f9b51471b91957587 = $(`<div id="html_dc750ddc6d92487f9b51471b91957587" style="width: 100.0%; height: 100.0%;"><div>Opp Blk 268D</div>Buses: 381</div>`)[0];
            popup_2cb6ea9f640243e28ed8e051a5614877.setContent(html_dc750ddc6d92487f9b51471b91957587);
        

        marker_1ec0ec6b7c5e414a9578d4896559c2c1.bindPopup(popup_2cb6ea9f640243e28ed8e051a5614877)
        ;

        
    
    
            var marker_3594011d20244a4a98da47785a892f9e = L.marker(
                [1.4052507, 103.89706],
                {}
            ).addTo(map_9545de11e73543f6be1ca92982e85689);
        
    
            var icon_ec043360e9364b428dc9890d4d5ffad9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_3594011d20244a4a98da47785a892f9e.setIcon(icon_ec043360e9364b428dc9890d4d5ffad9);
        
    
        var popup_37077af73be84b7aaee8354ec15a58e8 = L.popup({"maxWidth": 450});

        
            var html_46274875dad44319a456be181b9db777 = $(`<div id="html_46274875dad44319a456be181b9db777" style="width: 100.0%; height: 100.0%;"><div>Soo Teck Stn</div>Buses: 381, 43M</div>`)[0];
            popup_37077af73be84b7aaee8354ec15a58e8.setContent(html_46274875dad44319a456be181b9db777);
        

        marker_3594011d20244a4a98da47785a892f9e.bindPopup(popup_37077af73be84b7aaee8354ec15a58e8)
        ;

        
    
    
            var marker_179da9fc484e4b38aeb2269a0a825be2 = L.marker(
                [1.4065689, 103.89871],
                {}
            ).addTo(map_9545de11e73543f6be1ca92982e85689);
        
    
            var icon_a650430315474ba7a696329d2815babd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_179da9fc484e4b38aeb2269a0a825be2.setIcon(icon_a650430315474ba7a696329d2815babd);
        
    
        var popup_0305541df07942a7955f44f5c23eb2be = L.popup({"maxWidth": 450});

        
            var html_c5a965f4869b4f70a22447e149b5c620 = $(`<div id="html_c5a965f4869b4f70a22447e149b5c620" style="width: 100.0%; height: 100.0%;"><div>Opp Blk 264A</div>Buses: 381, 43M</div>`)[0];
            popup_0305541df07942a7955f44f5c23eb2be.setContent(html_c5a965f4869b4f70a22447e149b5c620);
        

        marker_179da9fc484e4b38aeb2269a0a825be2.bindPopup(popup_0305541df07942a7955f44f5c23eb2be)
        ;

        
    
    
            var marker_8f816723651544199ec7c4359d0bb0e7 = L.marker(
                [1.404107, 103.9025242],
                {}
            ).addTo(map_9545de11e73543f6be1ca92982e85689);
        
    
            var icon_25efce0c23d14f3c9394ffa680313324 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_8f816723651544199ec7c4359d0bb0e7.setIcon(icon_25efce0c23d14f3c9394ffa680313324);
        
    
        var popup_4ba569780c9b428e81152967c00e64a7 = L.popup({"maxWidth": 450});

        
            var html_6bdaa2826d87442c8a106cf358b72edc = $(`<div id="html_6bdaa2826d87442c8a106cf358b72edc" style="width: 100.0%; height: 100.0%;"><div>Punggol Temp Int</div>Buses: 43M</div>`)[0];
            popup_4ba569780c9b428e81152967c00e64a7.setContent(html_6bdaa2826d87442c8a106cf358b72edc);
        

        marker_8f816723651544199ec7c4359d0bb0e7.bindPopup(popup_4ba569780c9b428e81152967c00e64a7)
        ;

        
    
    
            var marker_0533e18dbbe4404f9f5eeef5f161a525 = L.marker(
                [1.4021, 103.89872],
                {}
            ).addTo(map_9545de11e73543f6be1ca92982e85689);
        
    
            var icon_733c88972d3f489dacfcb90dff1b0343 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_0533e18dbbe4404f9f5eeef5f161a525.setIcon(icon_733c88972d3f489dacfcb90dff1b0343);
        
    
            var marker_f9aafbc28caa4cc880503735c53285b8 = L.marker(
                [1.40394, 103.90263],
                {}
            ).addTo(map_9545de11e73543f6be1ca92982e85689);
        
    
            var icon_7801201ae6e34ecc8448dd491fb21507 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "walking", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f9aafbc28caa4cc880503735c53285b8.setIcon(icon_7801201ae6e34ecc8448dd491fb21507);
        
</script>