{% extends "header.html" %}
{% block content %}

    <div class="row no-gutters">
        <div class="col-4">
            <nav class="navbar navbar-light" style="background-color: #cbd5db;">
                <div style="text-align: center;">
                    <img style="width: 50px;height: 50px;" src="{{ url_for('static', filename='TeamLogo.png') }}">
                </div>
            </nav>
            <div class="container">
                <div id="EnterAddress" class="tabcontent">
                    <h2>Path Finder</h2>
                    <!-- <form style="margin-top: 25px" action="{{ url_for('home') }}" method="post"> -->
                    <form style="margin-top: 25px" action="" method="post">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Address</span>
                            </div>
                            <input type="text" class="form-control" name="address_input"
                                   placeholder="Enter Starting Address" id="address_input" autocomplete="off">
                            <!-- Pass in Address here as value=""-->
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Address</span>
                            </div>
                            <input type="text" class="form-control" name="address_input1"
                                   placeholder="Enter Destination Address" id="address_input1" autocomplete="off">
                            <!-- Pass in Address here as value=""-->
                        </div>
                        <label for="Travel2">Travel Method:</label>
                        <select name="dropdown" id="Travel2">
                            <option value="Walk">Walking</option>
                            <option value="WalkandBus">Walking and Bus</option>
                            <option value="WalkandMRT">Walking and MRT</option>
                            <option value="WalkBusMrt">Walking, Bus, MRT</option>
                        </select>
                        <br />
                        <input type="submit" value="Submit" id="submit_button"/>
                        <input type="button" id="btn2" value="Refresh" />
                    </form>
                </div>

            </div>
        </div>
        <div class="col-8">
            <div id="map-container" class="z-depth-1-half map-container" style="height: 100vh">
                <iframe id="frame" src="{{url_for('punggol')}}" frameborder="0" style="border:0"></iframe>
                <div style="position:fixed; bottom: 20px; right: 20px;">
                    <a href="https://github.com/derjr96/ict1008_python_project" target="_blank" rel="noopener noreferrer"><img src="{{ url_for('static', filename='Logo.png') }}" style="width: 50px; height: 50px; background-color: #444444; border-radius: 50%;"></a>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}